<div class="d-flex justify-content-between align-items-center px-4 py-3 gap-4">
    <div class="d-flex align-items-center w-100">
        <a routerLink="/" class="p-2">
            <img src="icons/logo-header.svg" alt="Logo" />
        </a>
        <app-search-bar class="w-100 ms-3" />
    </div>
    <div class="d-flex gap-3 flex-shrink-0 align-items-center">
        <div class="d-flex gap-3" *ngIf="!isLoggedIn">
            <a routerLink="/login" class="btn btn-outline-primary d-flex align-items-center">
                <i class="fas fa-sign-in-alt me-2"></i> Iniciar Sesión
            </a>
            <a routerLink="/register" class="btn btn-primary d-flex align-items-center">
                <i class="fas fa-user-plus me-2"></i> Registrar
            </a>
        </div>
        <div *ngIf="isLoggedIn">
            <button (click)="logout()" class="btn btn-primary d-flex align-items-center">
                <i class="fas fa-sign-out-alt me-2"></i> Cerrar Sesión
            </button>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-primary bg-primary px-5">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/postulante">
            <i class="fas fa-file-alt"></i> Postulaciones
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/actualizar-empleo/1">
            <i class="fas fa-briefcase"></i> Empleos
          </a>
      </ul>
    </div>
  </nav>
  