<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="w-100" style="max-width: 800px;">
      <!-- Volver Button -->
      <button class="btn btn-secondary mb-4" (click)="volver()">
        <i class="fas fa-arrow-left"></i> Volver
      </button>
    
      <!-- Detalles de la Postulación -->
      <div *ngIf="postulacion" class="mt-4">
        <h2 class="text-primary mb-4"><i class="fas fa-briefcase"></i> Detalles de la Postulación</h2>
        
        <div *ngIf="postulacion.idEmpleo" class="card shadow-sm">
          <div class="card-body">
            <h3 class="card-title text">{{ postulacion.idEmpleo.titulo }}</h3>
            <p class="card-text"><strong>Descripción:</strong> {{ postulacion.idEmpleo.descripcion }}</p>
            <p class="card-text"><strong>Presupuesto:</strong> <span class="text-danger">{{ postulacion.idEmpleo.presupuesto | currency }}</span></p>
            <p class="card-text"><strong>Fecha de publicación:</strong> {{ postulacion.idEmpleo.fechaPublicada | date:'dd MMMM yyyy' }}</p>
    
            <h4 class="mt-4 text">Publicado por:</h4>
            <p class="card-text">
              <i class="fas fa-user"></i> {{ postulacion.idEmpleo.usuario.nombre }} 
              {{ postulacion.idEmpleo.usuario.apellidoPat }} {{ postulacion.idEmpleo.usuario.apellidoMat }}
            </p>
            <p class="card-text">
              <i class="fas fa-envelope"></i> <a href="mailto:{{ postulacion.idEmpleo.usuario.email }}" class="text-decoration-none">{{ postulacion.idEmpleo.usuario.email }}</a>
            </p>
            <hr>
            <p class="card-text">
              <i class="fas fa-check-circle"></i> <strong>Estado: </strong> 
              <span [ngClass]="{'text-success': postulacion.estado, 'text-danger': !postulacion.estado}">{{ postulacion.estado ? 'Aceptado' : 'Pendiente' }}</span>
            </p>
            <p class="card-text">
              <i class="fas fa-money-bill-wave"></i> <strong>Precio Propuesto: </strong> 
              <span class="text-danger">{{ postulacion.precioPropuesta | currency }}</span>
            </p>
            <p class="card-text">
              <i class="fas fa-calendar-alt"></i> <strong>Fecha de la Propuesta:</strong> 
              {{ postulacion.fecha | date:'dd MMMM yyyy' }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
    