<div class="container mt-4">
    <h2>Postular al empleo</h2>

    <form (ngSubmit)="postular()" *ngIf="postulacion">
        <div class="mb-3">
            <label class="form-label">Precio Propuesto</label>
            <input type="number" class="form-control" [(ngModel)]="postulacion.precioPropuesta" name="precioPropuesta"
                required />
        </div>

        <button type="submit" class="btn btn-success">Enviar Postulación</button>
    </form>

    <div *ngIf="mensaje" class="alert alert-info mt-3">
        {{ mensaje }}
    </div>
</div>