<div class="container">
  <form #postulanteForm="ngForm" class="p-4 border rounded shadow-sm bg-light">
    <div class="form-group mb-3">
      <label for="postulanteId" class="form-label text-primary">
        <i class="fas fa-id-card"></i> Ingrese el ID del Postulante:
      </label>
      <input
        type="number"
        id="postulanteId"
        class="form-control"
        [(ngModel)]="idInput"
        name="postulanteId"
        placeholder="Ejemplo: 1"
        required
      />
      <small class="form-text text-muted">
        Por favor, ingrese el ID del postulante para buscar sus empleos.
      </small>
    </div>
  
    <button
      class="btn btn-primary w-100"
      (click)="buscarEmpleosPorPostulante()"
      [disabled]="!postulanteForm.form.valid"
    >
      <i class="fas fa-search"></i> Buscar Empleos
    </button>
  </form>
  
  <div *ngIf="mensaje" class="alert alert-warning">
    {{ mensaje }}
  </div>
  
    <div *ngIf="empleos.length > 0" class="mt-4">
      <h2>Empleos Postulados</h2>   
      <br>
      <div *ngFor="let empleo of empleos" class="card mb-3">
        <div class="card-body d-flex justify-content-between">
          <div>
            <h5 class="card-title">{{ empleo.titulo }}</h5>
            <p class="card-text"><strong>Fecha Publicada:</strong> {{ empleo.fechaPublicada }}</p>
            <p class="card-text"><strong>Publicado por:</strong> {{ empleo.usuario.nombre }} {{ empleo.usuario.apellidoPat }} {{ empleo.usuario.apellidoMat }}</p>
          </div>
          <button class="btn btn-info" [routerLink]="['/postulacion', idInput, empleo.id]">
            <i class="fas fa-eye"></i> Ver
          </button>
        </div>
      </div>          
    </div>
  </div>
  