<div class="d-flex flex-column bg-black-900 text-light pt-5 px-5">
    <div class="d-flex flex-column flex-md-row justify-content-around px-5">
        <div class="py-4">
            <ul class="list-unstyled">
                <li class="mb-4"><img class="d-block" src="icons/logo.svg" alt="logo"></li>
                <li class="mb-2 text-gray-400">Llamanos: <small class="text-light">(319) 555-0115</small></li>
                <li class="mb-2 text-gray-400">Calle Perú 1234</li>
            </ul>
        </div>
        <div class="py-4">
            <ul class="list-unstyled">
                <li class="mb-4 text-light">Candidatos</li>
                <li class="mb-2 text-gray-400">Buscar Trabajos</li>
                <li class="mb-2 text-gray-400">Buscar Empleadores</li>
            </ul>
        </div>
        <div class="py-4">
            <ul class="list-unstyled">
                <li class="mb-4 text-light">Empleadores</li>
                <li class="mb-2 text-gray-400">Publicar trabajo</li>
                <li class="mb-2 text-gray-400">Buscar Candidatos</li>
            </ul>
        </div>
        <div class="py-4">
            <ul class="list-unstyled">
                <li class="mb-4 text-light">Soporte</li>
                <li class="mb-2 text-gray-400">Preguntas Frecuentes</li>
                <li class="mb-2 text-gray-400">Politica de Privacidad</li>
                <li class="mb-2 text-gray-400">Términos y Condiciones</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between p-4">
        <p class="mb-0">{{footerText}}</p>
        <div class="mx-4 gap-4 d-flex">
            <img class="d-block" src="icons/facebook.svg" alt="Facebook">
            <img class="d-block" src="icons/instagram.svg" alt="Instagram">
            <img class="d-block" src="icons/twitter.svg" alt="Twitter">
            <img class="d-block" src="icons/youtube.svg" alt="YouTube">
        </div>
    </div>
</div>