  .card {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    font-weight: bold;
    text-align: center;
  }
  
  .card-body p {
    font-size: 1rem;
  }
  
  .card-body span {
    display: block;
    margin-bottom: 5px;
  }
  